# Directories
bin
bin-obj

# Files
*.user
Makefile

# Visual Studio files and folder
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.editorconfig

### premake-gmake ###
Makefile
*.make
