[submodule "Leaf/vendor/imgui"]
	path = Leaf/vendor/imgui
	url = https://github.com/Farravid/imgui
	branch = docking
[submodule "Leaf/vendor/glfw"]
	path = Leaf/vendor/glfw
	url = https://github.com/Farravid/glfw
[submodule "Leaf/vendor/spdlog"]
	path = Leaf/vendor/spdlog
	url = https://github.com/Farravid/spdlog
[submodule "Premake/lua/premake-qt"]
	path = Premake/lua/premake-qt
	url = https://github.com/Farravid/premake-qt
